.maker-box{
    height: 30%;
}

.buttons{
    margin-top: 2%;
}

@media (max-width:480px)  { 
    .col-sm-6{
        width: 50%;
    }
    .buttons{
        margin-top: 10%;
    }
}


input.ng-touched.ng-invalid{
    border: 1px solid   red;
}
